<!--
  Generated template for the MinhasObrasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="fundo">
  <br>
  <!-- BOTÃO VOLTAR-->
  <ion-fab left edge>
    <button (click)='voltarParaHome()' class="btn_base" ion-fab mini>
      <ion-icon name="ios-return-left-outline"></ion-icon>
    </button>
  </ion-fab>

  <img src="assets/imgs/logo_abrev.png" class="logo_abrev">

  <ion-fab right edge>
    <button (click)='irParaNovasObras()' class="btn_base" ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <br>

  <h2> Lista de Obras </h2>

  <!-- Idem Alexandre-->
  <ion-list>
    <ion-item-sliding *ngFor="let feed of feeds">

      <ion-item class="fundo" (click)="itemDetalhes($event, feed)">
        <ion-card class="fundo">
          <ion-row>
            <ion-col>

              <ion-thumbnail *ngIf="feed.imagem">
                <img src="assets/imgs/logo_principal.png">
              </ion-thumbnail>
              <ion-thumbnail *ngIf="!feed.imagem">
                <img src="./assets/icon/favicon.ico">
              </ion-thumbnail>

            </ion-col>
            <ion-col>
              <p>
                <label>Nome da Obra:</label>
              </p>
              {{feed.nome}}
              <p>
              <br> <!-- Pular linha -->
              </p>
              <p>
                <label>Descrição:</label>
              </p>
              {{feed.descricao}}
            </ion-col>
          </ion-row>
        </ion-card>

      </ion-item>

    </ion-item-sliding>
  </ion-list>

  <!--botões editar/excluir 
    <ion-item-options side="left">
      <button ion-button (click)="favorite(item)">Favorite</button>
      <button ion-button color="danger" (click)="share(item)">Share</button>
    </ion-item-options>

    <ion-item-options side="right">
      <button ion-button (click)="unread(item)">Unread</button>
    </ion-item-options>
    
    <ion-item-options  side="left">
        <button ion-button icon-only (click)="editarItem($event, feed)" light>
          <ion-icon name="paper"> Editar </ion-icon>
        </button>
        <button ion-button icon-only (click)="deletarItem($event, feed)" danger>
          <ion-icon name="trash"> Excluir </ion-icon>
        </button>
      </ion-item-options>
    
    -->

</ion-content>